* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    width: 380px;
    padding: 2rem;
    margin: auto;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.container:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}


.form-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
}

.input-group {
    margin-bottom: 1.5rem;
    position: relative;
}

.input-group i {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #999;
}

.input-group input {
    width: calc(100% - 40px);
    padding: 10px 15px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
}

.input-group input:focus {
    border-color: rgb(51,95,151);
}

.input-group label {
    position: absolute;
    top: -20px;
    left: 10px;
    font-size: 14px;
    color: #333;
}

.btn {
    display: block;
    width: 95%;
    padding: 10px;
    background: rgb(51,95,151);
    color: #fff;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 1rem;
}

.btn:hover {
    background: rgb(51,95,151);
}

.btn-small {
    background: rgb(51,95,151);
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-left: 10px;
    transition: background 0.3s;
}

.btn-small:hover {
    background: rgb(51,95,151);
}

.links {
    text-align: center;
    margin-top: 1rem;
    font-size: 1rem;
    color: #333;
}

.links p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-container {
    text-align: center;
    padding: 10%;
}

.welcome-text {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.logout-btn {
    display: inline-block;
    padding: 10px 20px;
    background: rgb(51,95,151);
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.3s;
}

.logout-btn:hover {
    background: rgb(51,95,151);
}

#iname {
    text-align: center;
    margin-top: 20px;
}

#iname .btn-small {
    margin-left: 10px;
}

